name: Tests

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
      - uses: actions/checkout@v4

      - name: Setup pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "pnpm"

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./claim-db-worker

      - name: Run claim-db-worker tests
        run: pnpm test
        working-directory: ./claim-db-worker
        env:
          NODE_ENV: test

      - name: Install create-db dependencies
        run: pnpm install --frozen-lockfile
        working-directory: ./create-db

      - name: Build create-db
        run: pnpm build
        working-directory: ./create-db

      - name: Run create-db tests
        run: pnpm test
        working-directory: ./create-db
        env:
          NODE_ENV: test
          CREATE_DB_WORKER_URL: ${{ secrets.CREATE_DB_WORKER_URL }}
          CLAIM_DB_WORKER_URL: ${{ secrets.CLAIM_DB_WORKER_URL }}
